.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main h1 {
  margin-top: -50px;
  font-weight: 400;
}

.main h3 {
  font-weight: 400;
}
