.heading {
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.employeeOfTheMonth {
  text-align: center;
}

.employeeOfTheMonth img {
  padding-top: 50px;
  width: 250px;
  /* border-radius: 100%; */
}
