.main {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: aliceblue;
}

.main div {
  margin: 25px;
  cursor: pointer;
}

.main div:hover {
  color: rgb(168, 168, 168);
}

.main img {
  width: 24px;
  margin-right: 5px;
}
